<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 &copy; 2011 Torkild U. Resheim
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.mylyn.docs.epub.opf.OpfPackage"
            genModel="model/opf.genmodel"
            uri="http://eclipse.org/mylyn/docs/epub/opf">
      </package>
      <package
            class="org.eclipse.mylyn.docs.epub.dc.DcPackage"
            uri="http://eclipse.org/mylyn/docs/epub/dc">
      </package>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.mylyn.docs.epub.ant.HtmlToEpubTask"
            eclipseRuntime="true"
            headless="true"
            library="org.eclipse.mylyn.docs.epub.antTask1"
            name="html-to-epub">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.mylyn.docs.epub.ant.HtmlToEpubTask"
            library="org.eclipse.mylyn.docs.epub.antTask1"
            name="html-to-epub">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.mylyn.docs.epub.Task1"
            library="org.eclipse.mylyn.docs.epub.antTask1"
            name="html-to-epub">
      </antTask>
   </extension>


</plugin>
